extends layout.pug

block content
  .content-detail
    .title-of-history
      h1 #{ historyDetail.title }
    .description-of-history
      p #{ historyDetail.description }
    .text-of-history
      p #{ historyDetail.text }
  
  